doctype html
html
  head
    title Mocha Delights
    link(rel='stylesheet', href='/stylesheets/styles.css') 
    // Add any other meta tags or stylesheets here

  body
    header
      nav(class='navbar')
        ul(class='nav-list')
          li(class='nav-item')
            a(href='/') Home
          li(class='nav-item')
            a(href='/recipes') Recipes
          li(class='nav-item')
            a(href='/about') About
          li(class='nav-item')
            a(href='/login') Login

    block content

    //- footer
    //-   p © 2024 Mocha Delights. All rights reserved.
